<template>
<p><img src="./assets/logo.png" alt=""></p>
  <h1>Hello {{name}} {{age}}</h1>
  <p v-html="msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ceo}}</p>
</template>

<script>
export default {
data() {
  return { name:'gg',age:'18',msg:'how are you?',ceo:'facebook'}
}
};
</script>

<style>
h1{
  color:gold;
}
</style>
